/*part of the header*/
.header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo-img {
    display: block;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    vertical-align: top;
    margin-top: 8px;
}

.nav-link {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    display:flex;
    line-height: 20px;
}

.link:hover {
    color: #3D3D3D;
    padding-bottom: 25px;
    border-bottom: 3px solid #46A358;
    font-weight: 700;
}

.nav-menu {
    position: relative;
    display: flex;
}

.nav-menu:hover > .nav-link {
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.nav-menu:hover > .sub-list {
    display: flex;
}

.sub-list {
    position: absolute;
    display: none;
}

.nav-sub-one {
    top: 100%;
    left: -56px; 
    padding-top: 12px;
}

.sub-post {
    background-color: #EDF6EE;
    display: flex;
    flex-direction: column;
}

.nav-sub-list {
    width: 160px;
}

.nav-link-top {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 13px 8px 14px;
}

.nav-link-top:hover {
    color: #FFFFFF;
}

.nav-span:hover {
    background-color: #46A358;
    font-size: 16px;
    font-weight: 700;
}

.nav-sub-link {
    width: 188px;
    left: 100%;
    top: -105px;
    padding-left: 15px;
}

.login{
    width: 100px;
    height: 35px;
    font-weight: 500;
    padding: 7px 17px 8px 18px;
}
.key {
    background-color: #46A358;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 22px;
}

.img-login {
    display: inline-block;
}
.span-login {
    vertical-align: top;
    margin-left: 1px;
}